
 @font-face {
      font-family: 'Julia Mono'; /* Choose a name for your font family */
      src: local('Julia Mono'), /* Optional: checks for locally installed font */
           url('/static/JuliaMono-Regular.woff2') format('woff2');
      font-weight: normal; /* Define font weight if applicable */
      font-style: normal; /* Define font style if applicable */
    }

pre {
  padding: 1rem;
  overflow: auto;
  font-style: normal !important;
  font-family: "Julia Mono", monospace !important;
}

span {
   font-style: normal !important;
}

code.language-hs {
  font-family: "Julia Mono", monospace !important;
}

code {
    font-family: "Julia Mono", monospace !important;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
