$background: #495159;
$text: #ece2d0;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    background-color: $background;
    color: $text;
    font-family: "Roboto Slab", sans-serif;
    font-size: 15pt;
}

button {
  all: unset;
  display: revert;
  padding: 5px;
  border: 3px solid $text;
}

button:hover {
    cursor: pointer;
    border: 3px solid #09BC8A;
}

a:link {
    color: #09BC8A;
}

a:visited {
    color: #A4B0F5;
}

div {
    justify-content: center;
    align-items: center;
}


.section {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.container {
    max-width: 60%;
    min-width: 30em;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    body {
        font-size: 11pt;
        max-width: 100%;
    }
    div {
        margin: 5 3;
        max-width: 100%;

    }
    p {
        margin: 1 auto;
        max-width: 90%;

    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}


.imgcontainer {
    max-width: 60%;
}

img {
    max-width:100%;
    max-height:100%;
}

p {
    text-align: left;
}

li {
    text-align: left;
}

pre {
    text-align: left;
}

