$background: #495159;
$text: #ece2d0;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    background-color: $background;
    color: $text;
    font-family: "Roboto Slab", sans-serif;
    font-size: 15pt;
}

button {
  all: unset;
  display: revert;
  padding: 5px;
  border: 3px solid $text;
}

button:hover {
    cursor: pointer;
  border: 3px solid #09BC8A;
}

a:link {
    color: #09BC8A;
}

a:visited {
    color: #A4B0F5;
}



.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
    max-width: 60%;
    min-width: 30em;
}

.imgcontainer {
    max-width: 60%;
}

img {
    max-width:100%;
    max-height:100%;
}

p {
    text-align: left;
}

li {
    text-align: left;
}

pre {
    text-align: left;
}

