<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<link rel="stylesheet" href="/page.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous" media="none" onload="media='all'">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
    
    <meta property="og:type" content="website" />
<meta property="og:url" content="https://blueberrywren.dev"/>
<meta property="og:image" content="https://blueberrywren.dev/wren_glasses.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

</head>

<style>.katex { font-size: 1.5em; }
</style>
<body>
<script>
  function do_dark() {
      if (localStorage.getItem('dark_mode') != "true") {
          document.body.style.backgroundColor = '#1F2226'
      } else {
          document.body.style.backgroundColor = '#495159';
      }
  }
  do_dark();

  function flipdark() {
      if (localStorage.getItem('dark_mode') != "true") {
          localStorage.setItem('dark_mode', "true");
      } else {
          localStorage.setItem('dark_mode', "false");
      }
      do_dark();
  }
</script>
  
  <section class="section">
    <div class="container">


      {% block content %} {% endblock %}
      <br><br>

      <button onclick="location.href = location.href + '..'">back?</button>
    </div>
  </section>


  
</body>

</html>
