{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/code.css" />
<head>
  <meta property="og:title" content="{{ page.title }}" />
  <title> {{page.title}} </title>
</head>


<h1 class="title">
  {{ page.title }}
</h1>
<div style="display: flex">
  <strong style="float: left">{{ page.date }}</strong>
  <img style="float: right; max-width: 50px; max-height: 50px" src="/wren_glasses.png" alt="A Wren."/>  
</div>
<p class="subtitle">
  <button onclick='flipdark()'> dark mode? </button>
  <button onclick="location.href = location.href.substring(0,location.href.lastIndexOf('/')) + '/..'">back?</button>
</p>
{{ page.content | safe }}


{% endblock content %}

