{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/code.css" />
<head>
  <meta property="og:title" content="{{ page.title }}" />
  <title> {{page.title}} </title>
</head>


<h1 class="title">
  {{ page.title }}
</h1>
<div style="display: flex; justify-content: space-between;">
  <p><strong style="align-self: flex-start">{{ page.date }}</strong></p>
  
  <img style="align-self: flex-end; max-width: 50px; max-height: 50px" src="/wren_glasses.png" alt="A Wren."/>  
</div>
<p class="subtitle">
  <button onclick='flipdark()'> dark mode? </button>
  <button onclick="location.href = location.href.substring(0,location.href.lastIndexOf('/')) + '/..'">back?</button>
</p>

{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{{ page.content | safe }}


{% endblock content %}

